:root.theme-dark {
  --current-bg-color: var(--main-bg-color);
  --current-text-color: var(--main-text-color);
  --current-brand-color: var(--accent-bright);
  --current-accent-color: var(--accent-medium);
  --current-accent-transparent: var(--accent-transparent);
  --current-decorative-color: var(--decorative-color);
  --current-secondary-color: var(--accent-medium);
  --current-bg-image: var(--bg-image-dark);
  --rec-visible: visible;
}