:root.theme-light {
  --current-bg-color: var(--light-bg-color);
  --current-text-color: var(--light-text-color);
  --current-brand-color: var(--light-accent);
  --current-accent-color: var(--light-accent);
  --current-accent-transparent: var(--light-transparent);
  --current-decorative-color: var(--light-decorative);
  --current-secondary-color: var(--light-text-color);
  --current-bg-image: var(--bg-image-light);
  --rec-visible: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --current-bg-color: var(--light-bg-color);
    --current-text-color: var(--light-text-color);
    --current-brand-color: var(--light-accent);
    --current-accent-color: var(--light-accent);
    --current-accent-transparent: var(--light-transparent);
    --current-decorative-color: var(--light-decorative);
    --current-secondary-color: var(--light-text-color);
    --current-bg-image: var(--bg-image-light);
    --rec-visible: hidden;
  }
}