.page {
  background-image: var(--current-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.cover {
  display: grid;
  padding: var(--spacing-xs);
  min-height: 100vh;
  position: relative;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 10;
}

.decorated-zone::before {
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  border-top: 1px solid var(--current-secondary-color);
  border-right: 1px solid var(--current-secondary-color);
}

.decorated-zone::after {
  bottom: var(--spacing-xs);
  left: var(--spacing-xs);
  border-bottom: 1px solid var(--current-secondary-color);
  border-left: 1px solid var(--current-secondary-color);
}

.rec-decor {
  position: absolute;
  top: var(--spacing-xs);
  right: calc(var(--spacing-xs) + 28px);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  visibility: var(--rec-visible);
  z-index: 10;
}

.rec-decor::before {
  content: "REC";
  color: var(--current-secondary-color);
  font-size: var(--base-font-size);
}

.rec-decor::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--current-secondary-color);
  box-shadow: 0 0 4px 2px var(--current-secondary-color);
}

.page-title {
  color: var(--current-brand-color);
  font-weight: 700;
  font-size: var(--mobile-title-size);
  line-height: 0.825;
  text-shadow: var(--text-shadow-large);
}

.shadow-decor {
  text-shadow: var(--text-shadow-small);
}

.title {
  color: var(--current-secondary-color);
  font-weight: 700;
  font-size: inherit;
}

.title-decor {
  color: var(--current-decorative-color);
  background-color: var(--current-accent-color);
  padding: 2px 10px;
  font-weight: 700;
}

.link {
  text-decoration: none;
  transition: border-color 0.2s ease;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.header {
  align-content: start;
  grid-template-rows: auto auto 1fr auto;
  gap: var(--spacing-sm);
}

.header__theme-menu {
  justify-self: end;
  margin: 65px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  background: transparent;
  cursor: pointer;
  color: var(--current-secondary-color);
  text-transform: lowercase;
  transition: border-color 0.2s ease;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--current-accent-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: currentColor;
}

.header__title {
  margin: 55px 0;
  color: var(--current-decorative-color);
  background-color: var(--current-accent-color);
  font-weight: 700;
  font-size: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: 40px var(--spacing-xs);
}

.section {
  display: grid;
  gap: var(--spacing-sm);
}

.section-gallery {
  gap: 10px;
}

.articles-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  place-items: center;
  text-align: center;
}

@media (width >= 768px) {
  .page-title {
    font-size: var(--desktop-title-size);
  }

  .section {
    grid-template-columns: minmax(236px, 315px) 1fr;
    align-items: start;
  }

  .section-what__articles-list {
    grid-column: 1 / -1;
  }

  .section-how__articles-list {
    grid-column: 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: var(--spacing-sm);
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-sm);
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row: span 2;
  }

  .header__theme-menu {
    margin-top: 170px;
    margin-bottom: 70px;
  }

  .header__title {
    width: min(491px, 50% - var(--spacing-xs));
    justify-self: end;
  }

  .main {
    padding: 60px var(--spacing-xs);
  }
}

@media (width >= 1024px) {
  .section {
    column-gap: 30px;
  }

  .section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: var(--spacing-sm);
  }

  .header__theme-menu {
    justify-self: center;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}