:root {
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-bright: #db00ff;
  --accent-medium: #ff0070;
  --accent-transparent: #ff007040;
  --decorative-color: #000028;
  
  --light-bg-color: #fff1f7;
  --light-text-color: #353430;
  --light-accent: #ff8dcb;
  --light-decorative: #353430;
  --light-transparent: #35343040;
  
  --current-bg-color: var(--main-bg-color);
  --current-text-color: var(--main-text-color);
  --current-brand-color: var(--accent-bright);
  --current-accent-color: var(--accent-medium);
  --current-accent-transparent: var(--accent-transparent);
  --current-decorative-color: var(--decorative-color);
  --current-secondary-color: var(--accent-medium);
  
  --bg-image-dark: url("../images/cover-image-dark.png");
  --bg-image-light: url("../images/cover-image-light.png");
  --current-bg-image: var(--bg-image-dark);
  
  --rec-visible: visible;
  
  --main-font: "IBM Plex mono", monospace;
  --base-font-size: 18px;
  --line-height-base: 1.3;
  
  --spacing-xs: 10px;
  --spacing-sm: 20px;
  --spacing-md: 50px;
  --spacing-lg: 80px;
  
  --mobile-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --desktop-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  
  --text-shadow-small: 2px 2px 0 var(--current-accent-color);
  --text-shadow-large: 4px 4px 0 var(--current-accent-color);
}

@media (width >= 768px) {
  :root {
    --spacing-xs: 20px;
    --spacing-md: 80px;
  }
}